<!DOCTYPE html>
<head>
    <title> Welcome to <%= appName %> </title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src='/forum.js' type='text/javascript'></script>
</head>
<header>
    <a href="/home">
        <img src="/manners_logo.png" alt="Web Application Logo">
    </a>
</header>
<body>
    <h1>Add New Post</h1>
    <form method="post" action="/postSubmitted">
        <label>Title:</label>
            <input type="text" id="newTitle" placeholder="Enter a forum name"  name="title_input">
            <!-- <select id="add_post" onchange="addPostTitle();" name = "titleOfPosts">
                <option disabled selected value>Choose Post</option>
                <%/* forumTitles.forEach(function(title) { %>
                    <option id="existing_title" value="<%= title.post_id %>"><%= title.post_title %></option>
                <% })*/ %>
                <option id="new_title" value="new_title">Add your own</option>
            </select>
        
        <input type="text" id="newTitle" placeholder="Start a new forum" style="display: none;" name="title_input">   -->
        <br>
        <label>Content:</label>
        <br>
        <textarea id="review" name="review" required></textarea>
        <br>
        <input type="submit" value="Post">
    </form>
</body>
<footer>
    <a href="/discussionForum">
        <img src="/back.png" alt="back button" width="25px" height="25px">
    </a>
</footer>
</html>