<!DOCTYPE html>
<head>
    <title> Welcome to <%= appName %> </title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<header>
    <a href="/home">
        <img src="/manners_logo.png" alt="Web Application Logo">
    </a>
</header>
<body>
    <h1> Discussion Forum </h1>
    <table>
        <tr>
            <thead>Post Name</thead>
            <thead>Number of Participants</thead>
            <thead>Last Modified</thead>
        </tr>

        <% forumPosts.forEach(function(forum) { %>
            <tr>
                <td><%= forum.post_title %></td>
                <td><%= forum.num_participants %></td>
                <td><%= forum.latest_date %></td>
            </tr>
        <% }) %>
    </table>

    <!-- ref -->
    <button type="button" onclick="window.location.href = 'addNewPost'">+ Create New</button>
</body>
<footer>
    <a href="/home">
        <img src="/back.png" alt="back button" width="25px" height="25px">
    </a>
</footer>
</html>