<!DOCTYPE html>
<head>
    <title> Welcome to <%= appName %> </title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<header>
    <img src="/manners_logo.png" alt="Web Application Logo">
</header>
<body>
    <h1>Forgotten Password</h1>
    <form method="post" action="/passwordChanged">
        <label>Email address: <input id="email" type="email" name="email" placeholder="eg. jane.doe@email.com"></label>
        <br>
        <br>
        <label>Enter a new password: <input id="password" type="password" name="password"></label>
        <br>
        <br>
        <label>Confirm new password: <input id="confirm_pass" type="password" name="confirm_pass"></label>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
<footer>
    <a href="javascript:history.back()">
        <img src="/back.png" alt="back button" width="25px" height="25px">
    </a>
</footer>
</html>
