<!DOCTYPE html>
<head>
    <title> Welcome to <%= appName %> </title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src='/password.js' type='text/javascript'></script>
</head>
<header>
    <a href="./">
        <img src="/manners_logo.png" alt="Web Application Logo">
    </a>
</header>
<body>
    <div class="back">
        <a href="./">
            <img src="/back.png" alt="back button" width="25px" height="25px">
        </a>
    </div>
    <h1>Forgotten Password</h1>
    <form method="post" action="/passwordChanged">
        <label>Email address: <input id="email" type="email" name="email" placeholder="eg. jane.doe@email.com"></label>
        <br>
        <br>
        <label>Enter a new password: <input id="password" type="password" name="password"></label>
        <input type="checkbox" id="pass_check" onclick= "passVisibility();">
        <br>
        <br>
        <label>Confirm new password: <input id="confirm_pass" type="password" name="confirm_pass"></label>
        <!-- <input type="checkbox" id="pass_check" onclick= "passVisibility();"> -->
        <div id="pass_info">
            <img src="/info.png" alt="Password info" id="pass_pic">
            <p id="pass_text">Password must be at least <strong>8 characters and no more than 15 characters long and contain 1 upper case, 1 lower case, 1 number and 1 special keyboard character (choose any from @$!%*?&£=~|-#<>'_\/()")</strong>.</p>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
<footer>
    <a href="javascript:history.back()">
        <img src="/back.png" alt="back button" width="25px" height="25px">
    </a>
</footer>
</html>
