<!DOCTYPE html>
<head>
    <title> Forgotten Password </title>
    <!-- reading in css file -->
    <link rel="stylesheet" type="text/css" href="/main.css">
    <!-- reading in javascript file in order to access functions -->
    <script src='/password.js' type='text/javascript'></script>
    <!-- enabling responsive design of the web application -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
    <a href="./">
        <img src="/manners_logo.png" alt="Web Application Logo">
    </a>
</header>
<body>
    <!-- creating back button that takes users to the previous page -->
    <div class="back">
        <a href="./login">
            <img src="/back.png" alt="back button" width="25px" height="25px">
        </a>
    </div>
    <h1>Forgotten Password</h1>
    <!-- creating a form to allow users to reset their password -->
    <form method="post" action="/passwordChanged">
        <!-- email is used to check against the database to see if user has an existing account -->
        <label>Email address: <input id="email" type="email" name="email" placeholder="eg. jane.doe@email.com"></label>
        <br>
        <br>
        <!-- users have to enter a new password -->
        <label>Enter a new password: <input id="password" type="password" name="password"></label>
        <br>
        <br>
        <!-- users have to confirm their new password -->
        <!-- checking that the password confirmation is the same as the password field (entered above) when a key is released -->
        <label>Confirm new password: <input id="confirm_pass" type="password" name="confirm_pass" onkeyup="checkPasswords();"></label>
        <br>
        <!-- checkbox to allow users to view their passwords as plaintext -->
        <input type="checkbox" id="pass_check" onclick= "passVisibility();"> Show Passwords
        <br>
        <!-- to display message of whether both passwords match or not -->
        <span id="friendly_error"></span>
        <div id="pass_info">
            <!-- picture taken from Plazza, G. (n.d)  -->
            <img src="/info.png" alt="Password info" id="pass_pic">
            <!-- a reminder message of password requirements  -->
            <p id="pass_text">Password must be at least <strong>8 characters and no more than 15 characters long and contain 1 upper case, 1 lower case, 1 number and 1 special keyboard character (choose any from @$!%*?&£=~|-#<>'_\/()")</strong>.</p>
        </div>
        <!-- button to click to reset their password -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>
