<!DOCTYPE html>
<head>
    <title> Welcome to <%= appName %> </title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<header>
    <img src="/manners_logo.png" alt="Web Application Logo">
</header>
<body>
    <h1> Welcome to <%= appName %></h1>
    <button>
        <a href="/UK">UK</a>
    </button>
    <br>
    <button>
        <a href="/USA">USA</a>
    </button>
    <br>
    <button>
        <a href="/Ghana">Ghana</a>
    </button>
    <br>
    <a class="disforumlink" href="/discussionForum">Discussion Forum</a>   
    <br>    
    <a href="/logout">Logout</a>

</body>

</html>