<!DOCTYPE html>
<head>
    <title> Welcome to <%= appName %> </title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<header>
    <img src="/manners_logo.png" alt="Web Application Logo">
</header>
<body>
    <button>
        <a href="/login">Login</a>
    </button>
    <br>
    <button> 
        <a href="/register">Register</a>
    </button>
</body>
