<!DOCTYPE html>
<head>
    <title> <%= appName %> </title>
    <!-- reading in css file -->
    <link rel="stylesheet" type="text/css" href="/main.css">
    <!-- enabling responsive design of the web application -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
    <!-- displaying logo -->
    <img src="/manners_logo.png" alt="Web Application Logo">
</header>
<body>
    <!-- adapted from the_ravisingh (2023)  -->
    <div id="consent-box">
        <!-- message displayed to users to inform of cookie usage -->
        <h3>Welcome to <%= appName %>!</h3> 
        <p><%= appName %> uses cookies to ensure that the platform functions as smoothly as possible and provides personalised content. 
            By continuing to use <%= appName %>, you consent to the use of cookies. </p>
        <!-- button to close consent box -->
        <button id="close-consent">Close</button>
    </div>

    <!-- active button links -->
    <!-- link to take users to the login page -->
    <button class="login">
        <a href="./login">Login</a>
    </button>
    <!-- link to take users to the registration page -->
    <button class="register"> 
        <a href="./register">Register</a>
    </button>
</body>
<script>
    // adapted from the_ravisingh (2023) 
    // retrieving div that holds consent information
    var consent_box = document.getElementById('consent-box'); 
    // getting close button
    var close_dialog = document.getElementById('close-consent');

    // if user clicks the close button, hide element is added
    close_dialog.onclick = function() {
        consent_box.classList.add("hide"); 
    };

</script>
</html>

